---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

/* navigation bar */
#navbar {
  background-color: var(--global-bg-color);
  transition: background-color 0.25s ease;

  .nav-link,
  .navbar-brand {
    color: var(--global-text-color);
  }
  /* Add the rule to bold the name */
  .navbar-brand span.font-weight-bold { // or change to span.my-bold-name if you've added that class
    font-weight: bold !important; // Add !important for higher specificity
  }
}
